@import "cores";

.btnHome {
  width: 450px;
  height: 70px;
  background: $bgGray;
  border-radius: 8px;
  border: 2px solid $green-01;
  font-weight: bold;
  text-align: center;

  &:hover {
    pointer-events: auto;
    background: $green-03;
  }
}
