@import "cores";

.btnGreen {
    width: 450px;
    height: 70px;
    background: $green-01;
    color: white;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    text-align: center;

    &:hover {
        pointer-events: auto;
        background: $green-03;
    }
}
