*{
  box-sizing: border-box;
  padding: 0;
}

@import "cores";
@import "imgLogo";
@import "biblioteca";
@import "left";
@import "right";
@import "btnGreen";
@import "btnHome";
.container2 {
  .left {}
  .right {
    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
    text-align: center;
    grid-template-rows: 30vh 70vh;

    .header {
      align-items: start;
      width: 100%;
    }
    .main {}
  }
}