*{
  box-sizing: border-box;
}

$link-decoration: none !important;

@import "cores";
@import "imgLogo";
@import "biblioteca";
@import "left";
@import "right";
@import "btnCadastrar";

body {
  width: 100%;
}

.container {
  .biblioteca {
    .left {

      justify-content: center;
      text-align: center;
      background: white;
      align-items: center;

      .imgLogo {
      }

      .formDiv {
        text-align: left;
        .input{
          margin-top: 10px;
        }
        .email {
          padding-top: 15px;
          .lEmail {
            font-size: 20px;
          }
          .loginEmail {
              font-size: 18px;
              width: 450px;
              height: 70px;
              background: $bgGray;
              color: black;
              border: 0;
              padding: 10px;
              border-radius: 8px;
            }

        }

        .password {
          padding-top: 30px;
          .lPassword {
            font-size: 20px;
          }

          .passwordDiv {
            font-size: 25px;

            .loginPassword {
              text-align: left;

              width: 450px;
              height: 70px;
              background: $bgGray;
              color: black;
              border: 0;
              border-radius: 8px;
              padding: 10px;

            }
            .forgotPassword {
              font-size: 12px;
              padding: 0;
            }
            margin-bottom: 10px;
          }


        }
        .btnLoginDiv {
          padding-top: 50px;

          .btnLogin {
            font-size: 18px;

            width: 450px;
            height: 70px;
            background: $green-01;
            color: white;
            border-radius: 8px;
            border: 0;
            font-weight: bold;
            text-align: center;
                      }

        }
        .btnCadastrarDiv {
          .btnCadastrar {

          }
        }

        p{
          text-align: center;
        }
      }
    }

    .right { }
  }
}